@import "tailwindcss";
@import "./animations.css";
@source "./src"; /* path to maestro-ui lib so that all styles were cought */

@theme {
  --color-background: ;
  --color-foreground: ;
  --color-primary: ;
  --color-primary-foreground: ;
  --color-secondary: ;
  --color-secondary-foreground: ;
  --color-muted: ;
  --color-muted-foreground: ;
  --color-accent: ;
  --color-accent-foreground: ;
  --color-danger: ;
  --color-border: ;
  --color-input: ;
  --color-ring: ;
  --color-popover: ;
  --color-popover-foreground: ;
}
