
/* Custom style examples for developers */
/*
  -- How to customize --
  
  // Overidding colors for a specific toast type
  .maestro-toast__success {
    --toast-bg: #34d399;
    --toast-text: #ffffff;
    --toast-border: #6ee7b7;
    --toast-progress: #6ee7b7;
  }

  // Add custom styles to all toasts
  .maestro-toast {
    border-radius: 8px;
    font-family: your-custom-font, sans-serif;
  }

  // Customize specific toast positions
  [id="wrap-top-right"] .maestro-toast {
    border-left: 4px solid var(--toast-border);
  }
*/